.jfx-hamburger StackPane {
    -fx-background-color: #718093;
}

.list-view {
    -fx-background-color: #232323;
}

.list-view .list-cell:hover {
    -fx-background-color: #353b48;
}

.list-view .list-cell:selected {
    -fx-background-color: #353b48;
}

.list-view .list-cell {
    -fx-background-color: #2f3640;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-hamburger {
    -fx-cursor: hand;
}

.jfx-rippler {
    -jfx-rippler-fill: #ff931e;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #ff931e;
}

.jfx-progress-bar > .track {
    -fx-background-color: #E0E0E0;
}

.chart-title {
    -fx-text-fill: #ebe5e5;
}